<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-4">
      <h3>Sign Up for Meganote</h3>
      <form id="new_user" ng-submit="vm.submit()">
        <p>
          <label for="name">Full Name</label><br>
          <input
            type="text"
            name="name"
            autofocus="autofocus"
            ng-model="vm.user.name"
            required>
        </p>
        <p>
          <label for="username">Username</label><br>
          <input
            type="text"
            name="username"
            ng-model="vm.user.username"
            required>
        </p>
        <p>
          <label for="password">Password</label><br>
          <input
            type="password"
            name="password"
            ng-model="vm.user.password"
            required>
        </p>
        <p>
          <label for="passwordConfirmation">Re-type Password</label><br>
          <input
            type="password"
            name="passwordConfirmation"
            ng-model="vm.user.passwordConfirmation"
            required>
        </p>
        <input type="submit" name="commit" value="Sign Up" class="btn btn-default">
        <span class="login">
          Already have an account?
          <a href="#">Log in.</a>
        </span>
      </form>
    </div>
  </div>
</div>
